{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"parenSpacing": false,
	"jsxBracketSameLine": true,
	"semi": true,
	"arrowParens": "always"
}
